@model Test.WebApp.Models.SampleModel
<hr/>
EditorTemplates
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(m => m.ViewPaths)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" disabled="disabled" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr/>
