  <!--
    HACK

    We need to include the native DiaSymReader Native runtime files in order to support sourcelink etc.
    Roslyn does it too: https://github.com/dotnet/roslyn/blob/1fe72cd3f196005a1a407c582f60145d096b2f43/src/Compilers/Core/Portable/Microsoft.CodeAnalysis.csproj#L26-L37
    We make build/Microsoft.DiaSymRerader.Native.props from the package do it, via the existance of this dummy packages.config file.
   -->
